html, body {
    height: 100%;
}

body {
    padding-top: 55px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

main {
    margin: auto;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 750px;
}

/*footer*/

.copyright {
    margin: 15px 0;
}

/*about page*/

.about-pic {
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    margin-bottom: 20px;
}

/*apply accent colour to links*/

a {
    color: white;
}


a:link, a:visited {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}

/*paginator at bottom of list view*/

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/*list item for posts and projects*/

.item {
    padding: 10px 0;
}

.item-tag {
    background-color: var(--accent);
}

/*navigation bar*/

.navbar-icon {
    font-size: 140%;
    display: inline-block !important;
}

.navbar-menu {
    font-size: 130%;
    font-weight: bold;
}

.navbar-brand {
    font-size: 130%;
    font-weight: bold;
}

/*coloured borders at top and bottom of the page*/

.navbar-collapse {
    border-top: 0px !important;
}

.navbar-default .navbar-nav>li>a {
    color: var(--header-font-color) !important;
}

.navbar-default .navbar-brand {
    color: var(--header-font-color) !important;
}

.navbar.navbar-default {
    border-bottom: var(--border-width) solid var(--accent);
    background-color: var(--header-color);
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: var(--border-width) solid var(--accent) !important;
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
}

img {
    max-width: 100%;
}

.iframeWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.iframeWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
    max-width: 100%;
}
