<!-- highlight.js -->
{{ if .Site.Params.highlight | default false }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>

    {{ range .Site.Params.highlightLanguages }} <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/{{ . }}.min.js"></script> {{ end }}

    <script>hljs.initHighlightingOnLoad();</script>

{{ end }}

<!-- custom -->
{{ range .Site.Params.js }} <script src="{{ . | absURL }}"></script> {{ end }}

<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- dismiss expanded navigation bar with click -->
<script>$(document).on('click', function() { $('.collapse').collapse('hide'); })</script>

<!-- shield email from web Crawlers to some extend -->
<script type="text/javascript">
    var username = "{{ .Site.Params.eMailUser }}";
    var domain = "{{ .Site.Params.eMailDomain }}";
    function Email() {
        var email = username.substring(0) + "@" + domain.substring(0);
        var t;

        $(window).blur(function() {
            clearTimeout(t);
        });

        t = setTimeout(function() {
            alert("No Email client configured! Please mail here with you're prefered client:\n" + email);
        }, 1500);

        window.location.href = "mailto:" + email;        
    }
</script>

<!-- add fullscreen capability to demo iframes.-->
<script type="text/javascript">
    document.addEventListener('webkitfullscreenchange', fullscreenChange);
    document.addEventListener('mozfullscreenchange', fullscreenChange);
    document.addEventListener('fullscreenchange', fullscreenChange);
    document.addEventListener('MSFullscreenChange', fullscreenChange);

    function fullscreen() {
        if (document.fullscreenEnabled || 
            document.webkitFullscreenEnabled || 
            document.mozFullScreenEnabled ||
            document.msFullscreenEnabled) {
            var iframe = document.querySelector('#demo');
            if (iframe) {
                if (iframe.requestFullscreen) {
                    iframe.requestFullscreen();
                } else if (iframe.webkitRequestFullscreen) {
                    iframe.webkitRequestFullscreen();
                } else if (iframe.mozRequestFullScreen) {
                    iframe.mozRequestFullScreen();
                } else if (iframe.msRequestFullscreen) {
                    iframe.msRequestFullscreen();
                }
            }
        }
    }

    function fullscreenChange() {
        var iframe = document.querySelector('#demo');
        if (iframe) {
            iframe.src = iframe.src;
        }
    }
</script>
